* {
    background-color: #373AF5;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}